.attr-alpha
  content '.attr-alpha'

.attr-alpha--beta
  content '.attr-alpha--beta'

.attr-alpha--gamma
  content '.attr-alpha--gamma'

.attr-beta
  content '.attr-beta'

.attr-gamma
  content '.attr-gamma'
