//- comment that should be ignored
//-stylinpug invalid
//-stylinpug   invalid
//-stylinpug    blacklist:tbc-*
//-stylinpug invalid invalid
//- stylinpug stylusBlacklist   : tbc--*
//-stylinpug pugblacklist:tbc__*
//- stylinpug empty:
//- stylinpug nonexistent: nonexistent
