//- comment that should be ignored
//-stylperjade invalid
//-stylperjade   invalid
//-stylperjade    blacklist:tbc-*
//-stylperjade invalid invalid
//- stylperjade stylusBlacklist   : tbc--*
//-stylperjade pugblacklist:tbc__*
//- stylperjade empty:
//- stylperjade nonexistent: nonexistent
