.alpha {
  content: 'alpha';
}
.alpha .echo {
  content: 'echo';
}
.delta.zeta {
  content: 'delta zeta'
}
.delta-another {
  content: 'delta-another';
}
.nested .alpha {
  content: 'test';
}
.alpha:hover {
  content: 'hover';
}
.bravo {
  content: 'bravo';
}
.omega {
  content: 'omega';
}
.omega--modifier {
  content: 'omega--modifier';
}
.omega + .omega {
  content: 'omega + omega';
}
