.alpha.bravo(class='delta zeta')
  .echo.epsilon
    .omega.omega--modifier(class=isSomething ? 'is-something' : null)
      .omega__element Lorem ipsum
      p Lorem ipsum
  #delta.alpha Lore ipsum

.js-test
.js-thing-1
.js-other-thing
