.alpha.beta(class='delta zeta')
  .eta.epsilon
    .lambda.lambda--modifier(class=gamma ? 'gamma' : null)
      .lambda__element(class=iota) Lorem ipsum
      p Lorem ipsum
  #delta.alpha Lore ipsum

include test-include

script.
  var a = b
  b = 1

p Some text #[a.rho(href='#', class='rho--modifier epsilon') with inline link]
