/* CSS file is created from Stylus via `npm test` so changes will not be saved */

.alpha
  content '.alpha'

  .eta
    content '.alpha .eta'

  &:hover
    content '.alpha:hover'

.delta
  &.zeta
    content '.delta.zeta'

.delta--modifier
  content '.delta--modifier'

.kappa
  .alpha
    content '.kappa .alpha'

.beta
  content '.beta'

.lambda
  content '.lambda'

  & + .omega
    content '.lambda + .omega'

.lambda--modifier
  content '.lambda--modifier'

.nu
  & ~ .nu
    content '.nu ~ .nu'

@import 'test-import'
