.alpha {
  content: 'alpha';
}
.alpha .echo {
  content: 'echo';
}
.delta.zeta {
  content: 'delta zeta'
}
.nested .alpha {
  content: 'test';
}
.alpha:hover {
  content: 'hover';
}
.bravo {
  content: 'bravo';
}
.omega {
  content: 'omega';
}
.omega--modifier {
  content: 'omega--modifier';
}
