div.pi
  content 'div.pi'

div.nu
  content 'div.nu'

fieldset
  content 'fieldset'

  .nu
    content 'fieldset .nu'

fieldset.nu
  content 'fieldset.nu'

fieldset.pi
  content 'fieldset.pi'

.omicron
  content 'omicron'

div[class='alpha']
  content 'div[class=alpha]'
