.alpha.beta(class='delta zeta')
  .eta.epsilon
    .lambda.lambda--modifier(class=gamma ? 'gamma' : null)
      .lambda__element(class=iota) Lorem ipsum
      p Lorem ipsum
  #delta.alpha Lore ipsum

.js-alpha(class=eta ? 'eta--modifier' : 'eta--modifier-beta')
.js-mu(class=theta !== '/' ? null : 'theta theta--modifier')
.js-beta-delta

script.
  var a = b
  b = 1
