//- comment that should be ignored
//-stylperjade invalid
//-stylperjade   invalid
//-stylperjade    blacklist:tbc-*    
//-stylperjade invalid invalid
//- stylperjade cssBlacklist   : tbc--*
//-stylperjade jadeblacklist:tbc__*
//- stylperjade empty: 
//- stylperjade nonexistent: nonexistent
